header {background-color: #a99560;
		color: #FFFFFF;
		font-family: Calibri, sans-serif;
		text-align: center;
		font-size: 120%;
		display: inline-block;
		}
nav {background-color: #a99560;
	 text-align: center;
	 font-family: Georgia, serif;
	 font-style: oblique;
	 font-size: 100%;
	 }
body{background-color: #a99560;
 		 font-size:100%;}
footer{background-color: #a99560;}
footer nav{background-color: #a99560;}
#wrapper {width: 80%;
		  margin-right:auto;
		  margin-left: auto;
		  min-width: 700px;
		 }
#center {display: block;
		 margin-left: auto;
		 margin-right: auto;
		}
.button {background-color:#BB9D4E;
		 border-radius: 5px;
		 box-shadow: 0 8px #444444;
		 padding:       8px 20px;
		 color:         #ffffff;
		 display:       inline-block;
		 font:          normal bold 24px/1 "Calibri", sans-serif;
		 text-align:    center;
		 text-shadow:   2px 2px #000000;
		 text-decoration: none;}
.button:active {
		 box-shadow: 0 8px #666;
		 transform: translateY(4px);
		 background-color:#BB9D4E;
		 border-radius: 5px;
		 padding:       8px 20px;
		 color:         #ffffff;
		 display:       inline-block;
		 font:          normal bold 24px/1 "Calibri", sans-serif;
		 text-align:    center;
		 text-shadow:   2px 2px #000000;
		 text-decoration: none;}
table, tr, th, td{
			table-layout:fixed;
			min-width: 100%;
			border: 1px solid black;
			background-color:#cfba83; }
input[type=text] {
			width: 7%;
			transition: width 0.4s ease-in-out;
			padding: 2px 2px;
		  margin: 8px 0;
		  box-sizing: border-box;
			text-align: center;
			font-family: Calibri, sans-serif;}
input[type=text]:focus {
			outline: none;
			border: 2px solid #000000;
}
.form { background-color: #8b794b;
				color: #FFFFFF;
				width: 30%;
				justify-content: center;

}
